* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
}

.hr {
  margin: 10px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background: white;
  width: 220px;
  height: 100%;
  z-index: 1;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 200px;
  align-items: center;
  justify-content: center;
}

.logo svg {
  margin: 8px;
  cursor: pointer;
}

.logo img {
  width: 120px;
  height: 100%;
}

.logo span {
  margin-bottom: 20px;
  margin-right: 15px;
  font-size: 9px;
  float: right;
}

.section-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 100px;

}

.menu-esquerdo {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 100%;
  padding-left: 15px;
  overflow-y: hidden;
  z-index: 9999;
}

.menu-esquerdo:hover {
  height: 100vh;
  overflow-y: auto;
}

.menu-esquerdo>ul>li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;

}

.menu-esquerdo>ul>li>a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  width: 185px;
  padding: 10px;
  color: black;
  gap: 5px;
}

.menu-esquerdo a:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: white;
  padding-left: 100px;
  position: fixed;

}

.buscar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 100px;
  width: 100%;
}

.buscar input {
  width: 550px;
  padding: 10px;
  margin-left: 100px;
  outline: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid rgb(216, 216, 216);
}

.buscar button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  padding: 8px;
  cursor: pointer;
  background: #f0f0f0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid rgb(216, 216, 216);
}

.buscar button:hover {
  background: #d4d4d4;
}

.buscar .bi-mic-fill {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 7px;
  margin-left: 15px;
  border-radius: 50%;
  background: #f0f0f0;
}

.buscar .bi-mic-fill:hover {
  background: #d4d4d4;
}

.usuario {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 100px;
  gap: 15px;
}

.usuario svg {
  cursor: pointer;
}

.usuario img {
  border-radius: 50%;
}

.menu-section-videos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

.menu-section-videos>ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: absolute;
}

.menu-section-videos>ul>li>a {
  text-decoration: none;
  padding: 7px 10px;
  margin-left: 15px;
  border-radius: 7px;
  font-size: 13px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.05);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.menu-section-videos>ul>li>a:hover {
  background: #d4d4d4;
}

.videos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 200px;
}

.card-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 313px;
  height: 320px;
  padding: 10px;
  margin-left: 18px;
  border-radius: 10px;
}

.card-video iframe {
  border-radius: 10px;
}

.card-video iframe:hover {
  border-radius: 0;
}

.card-texto {
  font-size: 16px;
  margin: 10px 15px;
  width: 310px;
  height: 100px;
}

.card-texto span {
  display: block;
  font-size: 14px;
  padding-top: 5px;
}

.card-video .card-texto svg {
  float: right;
  cursor: pointer;
}